<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List VueJS</title>

    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

</head>
<body>
    
    <div id="app">
        <header>
            <div class="logo">
                <img :src="logo" alt="logo" width="20%">
            </div>

            <input type="text" placeholder="Nuovo Todo">
            <button>Aggiungi</button> 
        </header>

        <main>
            <div v-if="tasks.length > 0">
                <div class="task" v-for="(task, index) in tasks">
                    {{task}}
                    <button @click="deleteTask(index)">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div v-else>
                <p>Nulla da fare</p>
            </div>

        </main>



    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>